<footer>
  <p>Subscribe to our newsletter</p>
  <form class="email-sign-up">
    <input type="email" placeholder="name@example.com">
    <button type="button" name="btn-submit">Subscribe</button>
  </form>
  <nav>
    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
    <a href="#"><i class="fa fa-envelope fa-lg"></i></a>
  </nav>
  <p>&copy; 2016 Herbonomics</p>
</footer>
