<header>
  <a href="/"><h4>Herbonomics</h4></a>
  <nav>
    {% if session.id == null %}
        <a href="/sign_up">Sign Up</a>
        <a href="#sign-in">Log In</a>
    {% else %}
        <a href="/profile">Profile</a>
        <a href="/sign_out">Sign Out</a>
    {% endif %}
  </nav>
</header>
