<div class="remodal" data-remodal-id="sign-in">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div class="flex-container">
    <div class="grower">
      <h2>Retailer Sign In</h2>
      <form class="" action="/dispensary/sign_in" method="get">
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password">
        <button type="submit" name="button">Sign In</button>
      </form>
    </div>
    <div class="dispensary">
      <h2>Cultivator Sign In</h2>
      <form class="" action="/grower/sign_in" method="get">
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password">
        <button type="submit" name="button">Sign In</button>
      </form>
    </div>
  </div>
</div>
