<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <link rel="stylesheet" href="css/sign-up.css" media="screen" title="no title" charset="utf-8">
    <title>Herbonomics | Sign Up</title>
  </head>
  <body>
    {% include '/includes/header.html.twig' %}
    {% include '/includes/sign-in.html.twig' %}
      <main>
        <div class="dispensary">
          <h2>Retailer Sign Up</h2>
          <form class="dispensary" action="/dispensary/sign_up" method="post">
            <label>Company Name</label>
            <input type="text" name="name" required="">
            <label>Website Link</label>
            <input type="text" name="website" required="">
            <label>New Email</label>
            <input type="text" name="email" required="">
            <label>New Username</label>
            <input type="text" name="username" required="">
            <label>Password</label>
            <input type="password" name="password" required="">
            <button type="submit" name="button">Sign Up</button>
          </form>
        </div>
        <div class="sep">

        </div>
        <div class="grower">
        <h2>Cultivator Sign Up</h2>
          <form class="" action="/grower/sign_up" method="post">
            <label>Company Name</label>
            <input type="text" name="name" required="">
            <label>Website Link</label>
            <input type="text" name="website" required="">
            <label>New Email</label>
            <input type="text" name="email" required="">
            <label>New Username</label>
            <input type="text" name="username" required="">
            <label>Password</label>
            <input type="password" name="password" required="">
            <button type="submit" name="button">Sign Up</button>
        </form>
      </div>
    </main>

    {% include '/includes/footer.html.twig' %}
  </body>
</html>
