@import 'utils/module';

@import url(https://fonts.googleapis.com/css?family=Cardo:400,700,400italic|Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic);

// Font mixins
@mixin Istok($weight:400, $style:normal) {
  font-family: 'Istok Web', serif;
  font-weight: $weight;
  font-style: $style;
}

@mixin Montserrat($weight:400, $style:normal) {
  font-family: 'Montserrat', serif;
  font-weight: $weight;
  font-style: $style;
}

@mixin flex($flex-direction:row, $align-items:center, $justify-content:center) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

// Media query mixins
@mixin tablet {
  @media (min-width: $first-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $second-breakpoint) {
    @content;
  }
}


// Generate background images for main div articles
@for $i from 1 through 2 {
  #img#{$i} {
    background: url('../img/#{$i}.jpg');
    background-position: top;
    background-size: cover;
  }
}
