$color-red        : #FF473A;
$color-darkred    : darken($color-red, 20%);
$color-white      : white;
$color-darkgray   : #353535;
$color-green      : #009B3E;
$color-background : #E1DEE3;
$color-border     : darken(lightgray, 10%);
