@import 'utils/module';
@import 'base/module';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 80px 0 0;
  background: $color-background;
}

header {
  @include flex(row,center, space-between);
  @include Montserrat();
  width: 100%;
  height: 80px;
  background: $color-white;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 20px $color-darkgray;
  a {
    color: $color-green;
    text-decoration: none;
  }
  h4 {
    margin-left: 20px;
    font-size: 1.2em;
    @include tablet {
      font-size: 1.6em;
      margin-left: 40px;
    }
    @include desktop {
      font-size: 1.8em;
    }
  }
  nav {
    margin-right: 20px;
    @include tablet {
      margin-right: 40px;
    }
    a {
      color: $color-green;
      text-decoration: none;
      font-size: 0.9em;
      &:first-of-type {
        margin-right: 5px;
        @include tablet {
          margin-right: 20px;
        }
      }
      @include tablet {
        font-size: 1em;
      }
      @include desktop {
        font-size: 1.2em;
      }
    }
  }
}

// MODAL STYLING

.remodal {
  height: 90%;
  width: 90%;
  padding: 0;
  border-radius: 3px;
  text-align: center;
  background: $color-background;
  @include Istok();
  @include tablet {
    height: 68%;
    width: 60%;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    @media (max-height: 850px) {
      flex-direction: row;
    }
  }
  h2 {
    @include Montserrat();
    font-size: 1.4em;
    color: $color-green;
    @media (max-height: 850px) {
      padding: 20px;
    }
    @include tablet {
      margin-top: 40px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
    }
    input {
      width: 70%;
      border: 1px solid $color-border;
      border-radius: 3px;
      padding: 3px;
      margin: 0;
      @include tablet {
        width: 50%;
      }
    }
    label {
      margin: 0;
      &:nth-of-type(even) {
        margin-top: 10px;
      }
    }
    button {
      margin-top: 10px;
      width: 80px;
      padding: 5px;
      border: none;
      font-size: .9em;
      background: $color-red;
      color: $color-white;
      border-bottom: 3px solid $color-darkred;
    }
  }
}

* form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
  }
  label {
    @include tablet {
      margin: 0 10px 10px 0;
    }
  }
  input {
    border: 1px solid $color-border;
    border-radius: 3px;
    padding: 3px;
    margin: 0 10px 10px 0;
  }
  select {
    margin: 0 0 10px;
    @include tablet {
      width: 150px;
    }
  }
  button {
    margin-top: 10px;
    // width: 80px;
    // padding: 5px;
    border: none;
    font-size: .9em;
    background: $color-red;
    color: $color-white;
    border-bottom: 3px solid $color-darkred;
  }
}

.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
}

footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $color-darkgray;
  margin-top: 40px;
  @include Montserrat();
  align-items: center;
  color: $color-white;
  form {
    @include tablet {
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
    }
  }
  input {
    outline: none;
    font-size: .8em;
    padding: 4px;
    border: none;
    text-align: center;
    border-radius: 2px;
    @include tablet {
      font-size: 1em;
      padding: 10px;
      width: 250px;
    }
  }
  button {
    @extend input;
    background: $color-red;
    color: $color-white;
    border-bottom: 3px solid $color-darkred;
    @include tablet {
      width: 100px;
    }
  }
  nav {
    width: 140px;
    padding: 40px 0 20px;
    display: flex;
    justify-content: space-around;
    a {
      color: $color-white;
      &:hover {
        color: $color-green;
      }
    }
  }
}

form button {
  border: none;
  border-radius: 3px;
  background: $color-red;
  color: $color-white;
  border-bottom: 3px solid $color-darkred;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  a {
    color: $color-green;
  }
}


// TABLE STYLING

table {
  margin-top: 20px;
  a {
    color: $color-green;
    // text-decoration: none;
  }
  th {
    font-size: 0.7em;
    text-align: center;
    @include tablet {
      text-align: left;
      font-size: 1em;
      padding: 12px;

    }
  }
  td {
    font-size: 0.7em;
    text-align: center;
    width: 10vw;
    @include tablet {
      font-size: 1em;
      padding: 12px;
    }
    @include desktop {
      width: 100px;
    }
  }
}
